@font-face {
    font-family: 'noto_serifitalic';
    src: url('fonts/notoserif-italic-webfont.eot');
    src: url('fonts/notoserif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/notoserif-italic-webfont.woff') format('woff'),
         url('fonts/notoserif-italic-webfont.ttf') format('truetype'),
         url('fonts/notoserif-italic-webfont.svg#noto_serifitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'noto_serifregular';
    src: url('fonts/notoserif-regular-webfont.eot');
    src: url('fonts/notoserif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/notoserif-regular-webfont.woff') format('woff'),
         url('fonts/notoserif-regular-webfont.ttf') format('truetype'),
         url('fonts/notoserif-regular-webfont.svg#noto_serifregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'helvetica_neuemedium';
    src: url('fonts/helveneumed-webfont.eot');
    src: url('fonts/helveneumed-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveneumed-webfont.woff') format('woff'),
         url('fonts/helveneumed-webfont.ttf') format('truetype'),
         url('fonts/helveneumed-webfont.svg#helvetica_neuemedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}
.helvetica{
    font-family: 'helvetica_neuemedium', "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.reg{
    font-family:'noto_serifregular',times,serif;
}
.ital{
    font-family:'noto_serifitalic', times, serif;
}
.table-center {
    text-align: center;
    height: 100%;
    display: table;
    vertical-align: middle;
    table-layout: fixed;
    width: 100%;
}
.table-center .cell-center {
    display: table-cell;
    vertical-align: middle;
}
.visible-phone{
    display:block !important;
}
.visible-tablet{
    display:none !important;
}
.hidden-tablet{
    display:block !important;
}
.hidden-phone{
    display:none !important;
}
#wrap{
    position:fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    overflow:hidden;
    text-shadow:none;
    color:#F5DBC6;
    font-size:62.5%;
    font-family:'noto_serifitalic', times, serif;
}
	#wrap > *{
    	background:url('images/bg.jpg') no-repeat center center #291511;
    	background-size: 101% 101%;
    	position:absolute;
        top:-1px;
        bottom:-1px;
        right:-1px;
        left:-1px;
    	z-index:50;
    	opacity:0;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    	overflow:hidden;
	}
	#wrap > *.current{
        opacity:1;
        z-index:100;
    }
#welcome{
    background:rgba(0, 0, 0, 0.70);
    padding:0 12%;
}
#message{
    background:url('images/bg.jpg') no-repeat center center #291511;
    background-size: 100% 100%;
    border:1px solid #f7e2d3;
    padding:20px 15px 30px;
    position:relative;
}
	#message p{
        margin-top:8px;
    }
#welcomeLogo{
    background:url("images/logo.png") no-repeat center center / contain transparent;
	display:inline-block;
    height: 110px;
    width: 230px;
    margin: -15px auto 0; 
}
h1 {
    font-weight: normal;
    position: relative;
    z-index: 10;
    font-size: 160%;
}
#preload{
    position:absolute;
    height:1px;
    width:1px;
    overflow:hidden;
    top:200%;
    left:200%;
}
#logging{
    overflow:auto !important;
    left:auto;
    width:200px;
    z-index:1000 !important;
    display:none;
}
.current#logging{
    display:block;
}
#slideInstruction,
#packName{
    opacity:0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 70%;
    height:30px;
}
#packName{
    display:none;
    font-size:140%;
}
.slideArrow{
    width:12%;
    position:absolute;
    top:0;
    bottom:0;
    z-index:1000;
}
	.slideArrow .icon{
        border:1px solid transparent;
    	display:inline-block;
    	height:0;
	    width:0;
        border-width:10px 15px;
    }
	.slideArrow .icon-next{
        border-left-color:#f7e2d3;
    	margin-right:-30px;
    }
	.slideArrow .icon-prev{
        border-right-color:#f7e2d3;
    	margin-left:-30px;
    }
#nextArrow{
    right:-100%;
}
#prevArrow{
    left:-100%;
}
.state-packs #pslider,
.state-questions #qslider{
    z-index:100;
}
#qslider,
#pslider{
    position:absolute;
    top:0;
    bottom:62px;
	line-height: 1.2;
	letter-spacing: -1px;
    opacity:0;
    left:12%;
	right:12%;
    z-index:50;
}
#pslider{
    overflow:hidden;
    opacity:1;
}
	#pslider #pcontain{
        position:absolute;
        left:0;
        right:0;
        z-index:50;
    	border:1px solid #f7e2d3;
	    background:url('images/bg.jpg') no-repeat center center #291511;
    	background-size:100% 100%;
        top:58px;
        bottom:20px;
    }
	#pslider #pcontain #picon{
        position:absolute;
        height:60px;
        width:60px;
        top:0;
        left:50%;
        margin:-30px 0 0 -30px;
    	border:1px solid #f7e2d3;
    }
	#pslider #pcontain #pbutton span{
    	opacity:1;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
	}
    #pslider #pcontain #pbutton.loading span{
        opacity:0;
    }
	#pslider #pcontain #pbutton,
	#welcomeClose{
        position:absolute;
        height:40px;
        width:120px;
    	bottom:0;
    	left:50%;
    	margin:0 0 -20px -60px;
    	text-align:center;
    	line-height:40px;
    	border:1px solid #f7e2d3;
    	background:url('images/bg.jpg') no-repeat center center #291511;
        background-size:100% 100%;
    	text-transform:uppercase;
    	font-size:105%;
    	letter-spacing:0;
    	z-index:100;
    	cursor:pointer;
    }
	#welcomeClose{
        height:30px;
	    line-height:30px;
        width:80px;
        margin:0 0 -15px -40px;
    }
	#pslider #pcontain #pbutton.open{
        font-size:130%;
    }
        .icon-open{
            display:inline-block;
         	height:0;
    		width:0;
    		border:1px solid transparent;
    		vertical-align:middle;
    		border-left-color:#f7e2d3;
    		border-width:5px 8px;
            margin: -2px -10px 0 0;
        }
	#pslider .pack{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:50;
        opacity:0;
    	margin:30px 20px 20px;
    }
		#pslider h2{
            font-size: 320%;
            font-weight: normal;
            margin-bottom: 6px;
        }
		#pslider p{
            font-size:140%;
    		line-height:140%;
            letter-spacing:0;
        }
		#pslider .bundle_icons{
            list-style:none;
    		display:inline-block;
    		text-align:center;
    		margin-top:5px;
        }
		#pslider .bundle_icons li{
            display:inline-block;
        }
		#pslider .bundle_icons li i{
    		display:inline-block;
            margin:0 4px;
            height:15px;
            width:15px;
        }
	#qslider .slide{
    	position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
		z-index:50;
    	padding:73px 0 30px;
    	opacity:0;
    }
	#qslider .slide p{
        opacity:0;
    }
	#qslider .slide.current,
	#pslider .pack.current{
    	opacity:1;
    	z-index:100;
	}
	#qslider .divider{
        height:25px;
    	left:0;
    	right:0;
	    position:absolute;
        background: transparent url("images/divider.png") center center no-repeat;
        background-size: 445px 25px;
    	z-index:1000;
	}
	#top-divider-icon,
	#random-icon-container{
        position: absolute;
        top: 50%;
        left: 50%;
	    opacity:0;
        border: 1px solid #f7e2d3;
        height: 60px;
        width: 60px;
        margin: -30px 0 0 -30px;
	    cursor:pointer;
    	z-index:-1;
    }
	#random-icon-container{
    	cursor:default;
    	border:none;
        height: 80px;
        width: 80px;
        margin: -40px 0 0 -40px;
    	background:url(images/loadingmark2.png) repeat-y 0 0 transparent;
    	background-size:80px 480px;
        -moz-transform: translateZ(0px);
        -webkit-transform: translateZ(0px);
        -o-transform: translateZ(0px);
        -ms-transform: translateZ(0px);
        transform: translateZ(0px);
	}
    #random-icon-container:after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 100%;
    	border: 1px solid #f7e2d3;
    	margin: -1px 0 0 -1px;
    }
	#top-divider{
    	top:38px;
	}
	#bottom-divider{
    	bottom:0;
	}
#footer{
    position:absolute;
    bottom:0;
    height:62px;
    left:12%;
    right:12%;
    text-align:center;
    padding:0 120px;
}
    #footer #cover_launch{
        position:absolute;
        top:0;
        bottom:0;
        width:60px;
        left:0;
        background:url("images/logo.png") no-repeat center center / contain transparent;
        cursor:pointer;
    }
	#footer p{
        font-size:65%;
        margin-bottom:10px;
    }
	.state-questions #footer #packsIndicator,
	.state-packs #footer #sharelinks{
        display:none;
	    z-index:-1;
    	position:relative;
    }
	.state-questions #footer #sharelinks,
	.state-packs #footer #packsIndicator{
        display:block;
    	z-index:100;
    	position:relative;
    }
	#footer #packsIndicator i{
        display:block;
        height:11px;
        width:11px;
        margin:0 3px;
    	border:1px solid transparent;
    }
	#footer #packsIndicator .current i{
        border-color:#f7e2d3;
    }
	#footer ul{
        list-style:none;
        display:inline-block;
    }
		#footer ul li{
    		position: relative;
            display:inline-block;
        }
            #footer ul li a{
                outline:none;
                color:#F5DBC6;
                text-decoration:none;
                display: block;
                margin: 0 5px;
            }
			#footer ul li a:hover,
			#footer ul li a:active,
			#footer ul li a:focus{
                opacity:0.8;
            }
                #footer ul li a i{
                    display:block;
                    height:23px;
                    width:23px;
                    background-size:23px 23px;
                    background-repeat:no-repeat;
                    background-position:center center;
                }
                #footer ul li i:after {
                    content: " ";
                    position: absolute;
                    top: -2px;
                    left: 50%;
                    height: 0;
                    width: 0;
                    border: 4px solid transparent;
                    margin: -4px;
                }
				#footer ul li.current i:after{
                    border-top-color: #F5DBC6;
				}
                #twitter i{
                    background-image:url("images/twitter.png");
                }
                #facebook i{
                    background-image:url("images/facebook.png");
                }
                #email i{
                    background-image:url("images/email.png");
                }
	#footer #deck_count{
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        width:120px;
	    cursor:pointer;
    }
		#footer #deck_count p{
    		white-space:nowrap;
            font-size:120%;
	        text-align:right;
    		margin:0;
        }
		#footer #deck_count p span.counter{
    		display:inline-block;
    		text-align:center;
            background:url(images/deck_indicator.png) no-repeat right center transparent;
    		vertical-align:sub;
    		font-size:110%;
    		font-weight:bold;
    		width:34px;
            background-size:34px;
    		min-height:34px;
    		line-height:34px;
		    margin-left:3px;
		    padding:4px 0 0 4px;
    		letter-spacing:-1px;
		}
	#footer #copy{
    	text-align:center;
		font-size:6px;
	    color:#F5DBC6;
	    opacity:0.3;
    	position:absolute;
    	bottom:5px;
    	left:0;
    	right:0;
	    z-index:1000;
    }
	#copy a{
        text-decoration:none;
        color:#F5DBC6;
    	font-weight:normal;
    }
#cover{
    text-align:center;
}
    #cover_logo{
    	height:40%;
    	width:100%;
        background:url("images/logo.png") no-repeat center center / contain transparent;
    	margin:6% 0 4%;
    }
	#cover p.ital{
        font-size:180%;
    }
	#cover #devices{
        height:10%;
        background:url("images/devices.png") no-repeat center center / contain transparent;
        width:100%;
        margin:3% 0;
    }
	#cover p.copy a{
        color:#F5DBC6;
        text-decoration: none;
        border-bottom: 1px solid #F5DBC6;
        display: inline-block;
        padding-bottom: 0.1em;
    }

.icon{
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
}
.icon-acq-starter-01{
    background-image:url(images/acq-starter-01.png);
}
.icon-acq-bundle-01{
    background-image:url(images/acq-bundle-01.png);
}
.icon-acq-dating-01{
    background-image:url(images/acq-dating-01.png);
}
.icon-acq-kids-01{
    background-image:url(images/acq-kids-01.png);
}
.icon-acq-scifi-01{
    background-image:url(images/acq-scifi-01.png);
}
.icon-acq-curious-01{
    background-image:url(images/acq-curious-01.png);
}
.icon-acq-curious-02{
    background-image:url(images/acq-curious-02.png);
}
.icon-acq-curious-03{
    background-image:url(images/acq-curious-03.png);
}

/*            Font size shiz                  */
.lb-0 p{
    font-size:250%;
}

.lb-1 p{
    font-size:190%;
}
.lb-1 p+p{
    font-size:250%;
}

.lb-2 p{
    font-size:180%;
}
.lb-2 p+p{
    font-size:220%;
}
.lb-2 p+p+p{
    font-size:180%;
}

.lb-3 p{
    font-size:180%;
}
.lb-3 p+p{
    font-size:320%;
}
.lb-3 p+p+p{
    font-size:130%;
}
.lb-3 p+p+p+p{
    font-size:220%;
}
/* iphone 4 */
@media (max-width:481px){
    .slideArrow{
        width:8%;
    }
    .slideArrow .icon{
        border-width:6px 10px;
    }
	.slideArrow .icon-next{
    	margin-right:-20px;
    }
	.slideArrow .icon-prev{
    	margin-left:-20px;
    }
    #pslider,
    #qslider,
    #footer{
        left:8%;
        right:8%;
    }
    #welcome{
        padding:0 8%;
    }
    #message{
        padding:20px 12px 30px;
    }
}
/* android tab */
@media (min-height:500px){
    .visible-tablet{
        display:block !important;
    }
    .visible-phone{
        display:none !important;
    }
    .hidden-tablet{
        display:none !important;
    }
    .hidden-phone{
        display:block !important;
    }
    #shareOn{
        position:absolute;
        width:100%;
        top: 0;
        text-align: center;
        left: 0;
        font-size: 70%;
    }
    #wrap{
        font-size: 100%;
    }
    .slideArrow .icon{
        border-width:14px 21px;
    }
	.slideArrow .icon-next{
    	margin-right:-42px;
    }
	.slideArrow .icon-prev{
    	margin-left:-42px;
    }
    #slideInstruction,
    #packName{
        display:block;
        height: 50px;
    }
    #pslider .bundle_icons{
        margin-top:10px;
    }
    #pslider .bundle_icons li i{
        margin:0 10px;
        height:45px;
        width:45px;
    }
    #qslider,
    #pslider{
        bottom:117px;
    }
    #pslider #pcontain{
    	border-width:2px;
        top:108px;
        bottom:40px;
    }
	#pslider #pcontain #picon{
        height:90px;
        width:90px;
        margin:-45px 0 0 -45px;
    	border-width:2px;
    }
	#top-divider-icon,
    #random-icon-container{
        border-width: 2px;
        height: 94px;
        width: 94px;
        margin: -47px 0 0 -47px;
    }
    #random-icon-container{
        border-width:0;
        height: 100px;
        width: 100px;
        margin: -50px 0 0 -50px;
    	background-size:100px 600px;
    }
    #random-icon-container:after{
        border: 3px solid;
        margin: -3px 0 0 -3px;
    }
    .random-icon{
        border-width:2px;
    }
    #message{
        padding:40px 25px 60px;
    }
    #message p{
        margin-top:13px;
        line-height:160%;
    }
    #welcomeLogo{
        height: 220px;
        width: 420px;
        margin: -56px auto 0;
    }
	#pslider #pcontain #pbutton,
	#welcomeClose{
        height:80px;
        width:180px;
    	margin:0 0 -40px -90px;
    	line-height:76px;
    	border-width:2px;
    }
	#welcomeClose{
        height:60px;
	    line-height:58px;
        width:140px;
        margin:0 0 -30px -70px;
    }
        .icon-open{
            border-width: 9px 13px;
            margin: -6px -16px 0 0;
        }
	#pslider .pack{
    	margin:45px 65px 40px;
    }
    #qslider .slide{
    	padding:126px 0 45px;
    }
	#qslider .divider{
        height:35px;
        background-size: 700px 35px;`
	}
	#top-divider{
    	top:77px;
	}
	#bottom-divider{
    	bottom:0;
	}
    #footer{
        height:117px;
        padding:0 160px;
    }
    	#footer #copy{
        	bottom:10px;
            font-size:12px;
        }
    	#footer #deck_count{
            width:160px;
        }
    	#footer #deck_count p span.counter{
            width: 57px;
            background-size: 57px;
            min-height: 57px;
            line-height: 57px;
            margin-left: 4px;
        	padding: 5px 0 0 5px;
	    }
    	#footer #cover_launch{
            width:100px;
        }
        #footer #packsIndicator i {
            height: 21px;
            width: 21px;
            margin: 0 5px;
            border-width: 2px;
        }
        #footer ul li a{
            margin: 0 8px;
        }
            #footer ul li a i{
                height:33px;
                width:33px;
                background-size:33px 33px;
            }
    
            #footer ul li i:after {
		        top: -3px;
                border: 7px solid transparent;
                margin: -7px;
            }
    #cover_logo{
    	margin:6% 0 4%;
    }
	#cover #devices{
        margin:4% 0;
    }
}
/* ipad */
@media (min-height:700px){
    #slideInstruction{
        height: 131px;
    }
    #packName{
        top:70px;
        height:60px;
    }
    #wrap{
        font-size: 120%;
    }
    #qslider,
    #pslider{
        bottom:177px;
    }
    #pslider #pcontain{
        top:174px;
    }
    #qslider .slide{
    	padding:203px 0 45px;
    }
	#qslider .divider{
        height:35px;
        background-size: 700px 35px;`
	}
	#top-divider{
    	top:158px;
	}
	#bottom-divider{
    	bottom:0;
	}
    #footer{
        height:177px;
	    padding:0 200px;
    }
    #footer #sharelinks{
        padding-top:26px;
    }
        #footer #packsIndicator i {
            height: 21px;
            width: 21px;
            margin: 0 5px;
            border-width: 2px;
        }
    	#footer #deck_count{
            width:200px;
        }
    	#footer #deck_count p span.counter{
    		width:67px;
            background-size:67px 67px;
    		min-height:67px;
    		line-height:67px;
		    margin-left:5px;
		    padding:6px 0 0 6px;
	    }
	    #footer #cover_launch{
            width:120px;
        }
        #footer ul li a{
            margin: 0 8px;
        }
            #footer ul li a i{
                height:33px;
                width:33px;
                background-size:33px 33px;
            }
    #cover_logo{
    	margin:12% 0 4%;
    }
	#cover #devices{
        margin:4% 0;
    }
}
/*				Custom Slide Styles					*/
#question-0 p:first-child{
    font-size: 168.9%;
}
#question-0 p:nth-child(2){
    font-size: 271.2%;
}

#question-1 p:first-child{
    font-size:168.9%
}

#question-2 p:first-child,
#question-2 p:nth-child(2){
    font-size:160%;
}
#question-2 p:nth-child(3){
    font-size:260%;
}

#question-3 p:first-child{
    font-size:160%;
}
#question-3 p:nth-child(2){
    font-size:260%;
}
#question-3 p:nth-child(3){
    font-size:190%;
}

#question-5 p:nth-child(4){
    font-size:270%;
}

#question-6 p:nth-child(1){
	font-size:160%;
}
#question-6 p:nth-child(2){
    font-size: 291%;
}
#question-6 p:nth-child(3){
    font-size: 291%;
	line-height: 1;
}

#question-7 p:nth-child(1){
	font-size:190%;
}
#question-7 p:nth-child(2){
    font-size: 281%;
}
#question-7 p:nth-child(3){
    font-size: 190%;
}

#question-9 p:nth-child(2){
    font-size: 320%;
}
#question-9 p:nth-child(4){
    font-size:320%;
    line-height:1;
}

#question-10 p:nth-child(1){
    font-size:180%;
}
#question-10 p:nth-child(2){
    font-size:320%;
    line-height:1;
}
#question-10 p:nth-child(3){
    font-size:180%;
	line-height: 1.6;
}
#question-10 p:nth-child(4){
    font-size:180%;
	line-height: 0.8;
}

#question-11 p:nth-child(1){
    font-size:180%;
}
#question-11 p:nth-child(2){
    font-size:290%;
}
#question-11 p:nth-child(3){
    font-size:290%;
    line-height:1;
}
#question-11 p:nth-child(4){
    font-size:180%;
    line-height:1.6;
}

#question-13 p:nth-child(1){
    font-size:160%;
}
#question-13 p:nth-child(2){
    font-size:290%;
}
#question-13 p:nth-child(3){
    font-size:160%;
    line-height:1.6;
}

#question-14 p:nth-child(1){
    font-size:160%;
}
#question-14 p:nth-child(2){
    font-size:290%;
}

#question-15 p:nth-child(1){
    font-size:160%;
}
#question-15 p:nth-child(2){
    font-size:280%;
}

#question-16 p:nth-child(1){
    font-size:180%;
}
#question-16 p:nth-child(2){
    font-size:270%;
}
#question-16 p:nth-child(3){
    font-size:166%;
    line-height:1.6;
}
#question-16 p:nth-child(4){
    font-size:270%;
    line-height:1;
}

#question-18 p:nth-child(1){
    font-size:180%;
}
#question-18 p:nth-child(2){
    font-size:250%;
}
#question-18 p:nth-child(3){
    font-size:250%;
}
#question-18 p:nth-child(4){
    font-size:270%;
    line-height:1;
}

#question-19 p:nth-child(1){
    font-size:160%;
}
#question-19 p:nth-child(2){
    font-size:230%;
}

#question-20 p:nth-child(2){
    font-size:180%;
}
#question-20 p:nth-child(3){
    font-size:260%;
    line-height:1.4;
}

#question-21 p:nth-child(1){
    font-size:170%;
}
#question-21 p:nth-child(2){
    font-size:260%;
}
#question-21 p:nth-child(3){
    font-size:170%;
}

#question-23 p:nth-child(1){
    font-size:180%;
}
#question-23 p:nth-child(2){
    font-size:250%;
}

#question-25 p:nth-child(1){
    font-size:180%;
}
#question-25 p:nth-child(2){
    font-size:290%;
}
#question-25 p:nth-child(3){
    font-size:180%;
    line-height:1.6;
}

#question-26 p:nth-child(1){
    font-size:180%;
}
#question-26 p:nth-child(2){
    font-size:290%;
}
#question-26 p:nth-child(3){
    font-size:290%;
}

#question-30 p:nth-child(1){
    font-size:160%;
}
#question-30 p:nth-child(2){
    font-size:320%;
    line-height:1;
}
#question-30 p:nth-child(3){
    font-size:190%;
    line-height:1.6;
}

#question-38 p:nth-child(1){
    font-size:230%;
}

#question-40 p:nth-child(1){
    font-size:150%;
}
#question-40 p:nth-child(2){
    font-size:260%;
    line-height:1;
}
#question-40 p:nth-child(3){
    font-size:260%;
}

#question-46 p:nth-child(2){
    font-size:290%;
}

#question-50 p:nth-child(1){
    font-size:170%;
}
#question-50 p:nth-child(2){
    font-size:230%;
}

#question-57 p:nth-child(1){
    font-size:180%;
}
#question-57 p:nth-child(2){
    font-size:260%;
    line-height:1;
}
#question-57 p:nth-child(3){
    font-size:180%;
    line-height:1.6;
}

#question-58 p:nth-child(1){
    font-size:180%;
}
#question-58 p:nth-child(2){
    font-size:300%;
    line-height:1;
}
#question-58 p:nth-child(3){
    font-size:160%;
    line-height:1.8;
}

#question-59 p:nth-child(1){
    font-size:150%;
}
#question-59 p:nth-child(2){
    font-size:260%;
}
#question-59 p:nth-child(3){
    font-size:260%;
}

#question-62 p:nth-child(2){
    font-size:230%;
}

#question-66 p:nth-child(1){
    font-size:230%;
}

#question-69 p:nth-child(1){
    font-size:170%;
}
#question-69 p:nth-child(2){
    font-size:170%;
}
#question-69 p:nth-child(3){
    font-size:250%;
}

#question-72 p:nth-child(1){
    font-size:170%;
}
#question-72 p:nth-child(2){
    font-size:230%;
}

#question-73 p:nth-child(1){
    font-size:180%;
}
#question-73 p:nth-child(2){
    font-size:260%;
    line-height:1;
}
#question-73 p:nth-child(3){
    font-size:180%;
    line-height:1.6;
}

#question-75 p:nth-child(2){
    font-size:280%;
    line-height:1;
}

#question-76 p:nth-child(1){
    font-size:170%;
}
#question-76 p:nth-child(2){
    font-size:170%;
}
#question-76 p:nth-child(3){
    font-size:250%;
}

#question-79 p:nth-child(1){
    font-size:170%;
}
#question-79 p:nth-child(2){
    font-size:230%;
}

#question-80 p:nth-child(1){
    font-size:170%;
}
#question-80 p:nth-child(2){
    font-size:230%;
    line-height:1;
}

#question-93 p:nth-child(1){
    font-size:160%;
}
#question-93 p:nth-child(2){
    font-size:270%;
    line-height:1;
}
#question-93 p:nth-child(3){
    font-size:160%;
    line-height:1.6;
}

#question-95 p:nth-child(1){
    font-size:170%;
}

#question-96 p:nth-child(2){
    font-size:250%;
    line-height:1;
}
#question-96 p:nth-child(3){
    line-height:1.6;
}

#question-97 p:nth-child(1){
    font-size:170%;
}
#question-97 p:nth-child(2){
    font-size:230%;
}

#question-98 p:nth-child(1){
    font-size:170%;
}
#question-98 p:nth-child(2){
    font-size:230%;
}

#question-100 p:nth-child(1){
    font-size:180%;
}
#question-100 p:nth-child(2){
    font-size:260%;
    line-height:1;
}
#question-100 p:nth-child(3){
    font-size:180%;
    line-height:1.4;
}

#question-102 p:nth-child(2){
    font-size:180%;
}
#question-102 p:nth-child(3){
    font-size:260%;
}

#question-104 p:nth-child(1){
    font-size:160%;
}
#question-104 p:nth-child(2){
    font-size:260%;
    line-height:1;
}
#question-104 p:nth-child(3){
    font-size:160%;
    line-height:1.6;
}

#question-106 p:nth-child(2){
    font-size:250%;
}

#question-108 p:nth-child(2){
    font-size:250%;
    line-height:1;
}

#question-112 p:nth-child(1){
    font-size:160%;
}
#question-112 p:nth-child(2){
    font-size:230%;
}

#question-122 p:nth-child(1){
    font-size:220%;
}
#question-122 p:nth-child(2){
    font-size:220%;
    line-height:1;
}
#question-122 p:nth-child(3){
    font-size:170%;
    line-height:1.6;
}

#question-125 p:nth-child(1){
    font-size:180%;
}
#question-125 p:nth-child(2){
    font-size:230%;
}

#question-129 p:nth-child(2){
    font-size:180%;
}

#question-133 p:nth-child(1){
    font-size:170%;
}
#question-133 p:nth-child(2){
    font-size:250%;
}
#question-133 p:nth-child(3){
    font-size:170%;
}

#question-135 p:nth-child(2){
    font-size:270%;
    line-height:1;
}

#question-139 p:nth-child(2){
    font-size:250%;
    line-height:1;
}

#question-140 p:nth-child(1){
    font-size:170%;
}
#question-140 p:nth-child(2){
    font-size:230%;
}

#question-141 p:nth-child(3){
    font-size:220%;
}

#question-142 p:nth-child(2){
    line-height:1;
}
#question-142 p:nth-child(3){
    font-size:220%;
}

#question-143 p:nth-child(2){
    font-size:250%;
    line-height:1;
}
#question-143 p:nth-child(3){
    font-size:250%;
    line-height:1;
}

#question-144 p:nth-child(2){
    font-size:180%;
}
#question-144 p:nth-child(3){
    font-size:250%;
}

#question-147 p:nth-child(1){
    font-size:220%;
}
#question-147 p:nth-child(2){
    font-size:180%;
}

#question-152 p:nth-child(1){
    font-size:220%;
}

#question-158 p:nth-child(2){
    line-height:1;
}
#question-158 p:nth-child(3){
    font-size:220%;
}

#question-159 p:nth-child(1){
    font-size:170%;
}
#question-159 p:nth-child(2){
    font-size:230%;
}

#question-166 p:nth-child(3){
    font-size:220%;
    line-height:1;
}

#question-167 p:nth-child(3){
    font-size:220%;
    line-height:1;
}

#question-171 p:nth-child(1){
    font-size:170%;
}
#question-171 p:nth-child(2){
    font-size:240%;
}
#question-171 p:nth-child(3){
    font-size:180%;
    line-height:140%;
}

#question-172 p:nth-child(2){
    line-height:1;
}

#question-173 p:nth-child(2){
    line-height:1;
}

#question-175 p:nth-child(1){
    font-size:230%;
}

#question-176 p:nth-child(3){
    font-size:220%;
    line-height:1;
}

#question-178 p:nth-child(2){
    line-height:1;
}

#question-179 p:nth-child(3){
    font-size:220%;
    line-height:1;
}

#question-180 p:nth-child(2){
    line-height:1;
}

#question-185 p:nth-child(2){
    line-height:1;
}

#question-187 p:nth-child(2){
    font-size:180%;
}
#question-187 p:nth-child(3){
    line-height:1;
    font-size:220%;
}

#question-188 p:nth-child(3){
    line-height:1;
    font-size:220%;
}

#question-190 p:nth-child(2){
    line-height:1;
}

#question-192 p:nth-child(3){
    line-height:1;
    font-size:220%;
}

#question-193 p:nth-child(1){
    font-size:170%;
}
#question-193 p:nth-child(2){
    font-size:230%;
}

#question-195 p:nth-child(3){
    line-height:1;
    font-size:220%;
}

#question-198 p:nth-child(3){
    line-height:1;
    font-size:220%;
}

#question-199 p:nth-child(1){
    font-size:170%;
}
#question-199 p:nth-child(2){
    font-size:230%;
}

#question-200 p:nth-child(2){
    line-height:1;
}

#question-204 p:nth-child(1){
    font-size:170%;
}
#question-204 p:nth-child(3){
    font-size:220%;
    line-height:1;
}

#question-205 p:nth-child(2){
    font-size:240%;
}
#question-205 p:nth-child(3){
    font-size:240%;
    line-height:120%;
}

#question-206 p:nth-child(2){
    line-height:1;
}

#question-207 p:nth-child(1){
    font-size:220%;
}

#question-208 p:nth-child(2){
    font-size:180%;
}
#question-208 p:nth-child(3){
    line-height:1;
    font-size:250%;
}

#question-210 p:nth-child(1){
    font-size:170%;
}
#question-210 p:nth-child(2){
    font-size:230%;
}

#question-211 p:nth-child(2){
    font-size:260%;
    line-height:1;
}
#question-211 p:nth-child(3){
    line-height:1.4;
    font-size:180%;
}

#question-213 p:nth-child(3){
    font-size:220%;
    line-height:1;
}

#question-214 p:nth-child(1){
    font-size:160%;
}
#question-214 p:nth-child(2){
    font-size:160%;
}
#question-214 p:nth-child(3){
    font-size:240%;
    line-height:1;
}

#question-215 p:nth-child(2){
    font-size:180%;
}

#question-220 p:nth-child(2){
    font-size:180%;
}

#question-221 p:nth-child(1){
    font-size:170%;
}

#question-223 p:nth-child(2){
    font-size:180%;
}

#question-232 p:nth-child(2){
    line-height:1;
}

#question-235 p:nth-child(2){
    font-size:250%;
    line-height:1;
}
#question-235 p:nth-child(3){
    line-height:1.4;
}

#question-236 p:nth-child(2){
	font-size:250%;
}
#question-236 p:nth-child(3){
    font-size:250%;
}

#question-237 p:nth-child(2){
    font-size:180%;
}

#question-243 p:nth-child(3){
    font-size:220%;
}

#question-248 p:nth-child(1){
    font-size:170%;
}
#question-248 p:nth-child(2){
    font-size:230%;
}

#question-250 p:nth-child(2){
    font-size:250%;
    line-height:1.2;
}
#question-250 p:nth-child(3){
    font-size:250%;
}

#question-252 p:nth-child(3){
    font-size:220%;
}

#question-255 p:nth-child(3){
    font-size:220%;
}

#question-259 p:nth-child(3){
    font-size:220%;
}

#question-261 p:nth-child(2){
    font-size:320%;
}

#question-266 p:nth-child(1){
    font-size:220%;
}
#question-266 p:nth-child(2){
    font-size:180%;
}

#question-269 p:nth-child(3){
    font-size:220%;
}

#question-271 p:nth-child(2){
    font-size:180%;
}

#question-273 p:nth-child(1){
    font-size:170%;
}
#question-273 p:nth-child(2){
    font-size:230%;
}

#question-274 p:nth-child(1){
    font-size:170%;
}

#question-280 p:nth-child(2){
    font-size:180%;
}
#question-280 p:nth-child(3){
    font-size:270%;
    line-height:1;
}

#question-283 p:nth-child(1){
    font-size:180%;
}
#question-283 p:nth-child(2){
    font-size:320%;
    line-height:110%;
}
#question-283 p:nth-child(3){
    font-size:180%;
    line-height:140%;
}

#question-287 p:nth-child(3){
    font-size:220%;
    line-height:1;
}

#question-292 p:nth-child(3){
    font-size:220%;
}

#question-294 p:nth-child(1){
    font-size:230%;
}

#question-298 p:nth-child(2){
    font-size:240%;
}
#question-298 p:nth-child(3){
    font-size:240%;
}

#question-301 p:nth-child(3){
    font-size:220%;
}

#question-303 p:nth-child(3){
    font-size:220%;
}

#question-305 p:nth-child(1){
    font-size:230%;
}

#question-321 p:nth-child(1){
    font-size:160%;
}
#question-321 p:nth-child(2){
    font-size:260%;
}
#question-321 p:nth-child(3){
    line-height:140%;
}

#question-322 p:nth-child(1){
    font-size:180%;
}
#question-322 p:nth-child(2){
    font-size:320%;
    line-height:110%;
}
#question-322 p:nth-child(3){
    font-size:180%;
    line-height:140%;
}

#question-324 p:nth-child(2){
    font-size:300%;
    line-height:100%;
}
#question-324 p:nth-child(3){
    font-size:300%;
}

#question-325 p:nth-child(2){
    font-size:280%;
}
#question-325 p:nth-child(3){
    font-size:180%;
    line-height:130%;
}

#question-326 p:nth-child(1){
    font-size:220%;
}
#question-326 p:nth-child(2){
    font-size:220%;
}
#question-326 p:nth-child(3){
    font-size:220%;
}

#question-327 p:nth-child(2){
    font-size:320%;
    line-height:110%;
}
#question-327 p:nth-child(3){
    font-size:180%;
    line-height:160%;
}

#question-328 p:nth-child(2){
    font-size:250%;
}
#question-328 p:nth-child(3){
    font-size:250%;
}

#question-329 p:nth-child(2){
    font-size:240%;
}
#question-329 p:nth-child(3){
    font-size:240%;
}

#question-331 p:nth-child(2){
    font-size:270%;
}

#question-332 p:nth-child(2){
    font-size:260%;
}
#question-332 p:nth-child(3){
    font-size:180%;
    line-height:160%;
}

#question-336 p:nth-child(2){
    font-size:180%;
}
#question-336 p:nth-child(3){
    font-size:280%;
    line-height:110%;
}

#question-337 p:nth-child(1){
    font-size:150%;
}
#question-337 p:nth-child(2){
    font-size:260%;
}
#question-337 p:nth-child(3){
    font-size:260%;
}

#question-339 p:nth-child(2){
    font-size:260%;
}
#question-339 p:nth-child(3){
    font-size:180%;
    line-height:160%;
}

#question-340 p:nth-child(2){
    font-size:180%;
}
#question-340 p:nth-child(3){
    font-size:240%;
}

#question-344 p:nth-child(1){
    font-size:190%;
}
#question-344 p:nth-child(2){
    font-size:300%;
    line-height:110%;
}
#question-344 p:nth-child(3){
    font-size:300%;
}

#question-347 p:nth-child(2){
    font-size:260%;
}
#question-347 p:nth-child(3){
    line-height:160%;
}

#question-348 p:nth-child(3){
    font-size:220%;
}

#question-349 p:nth-child(2){
    font-size:260%;
}
#question-349 p:nth-child(3){
    font-size:260%;
    line-height:100%;
}

#question-353 p:nth-child(3){
    font-size:220%;
}

#question-357 p:nth-child(2){
    font-size:300%;
}
#question-357 p:nth-child(3){
	line-height:160%;
}

#question-358 p:nth-child(2){
    font-size:320%;
}

#question-359 p:nth-child(1){
    font-size:180%;
}
#question-359 p:nth-child(2){
    font-size:320%;
    line-height:110%;
}
#question-359 p:nth-child(3){
    font-size:180%;
    line-height:170%;
}

#question-363 p:nth-child(1){
    font-size:220%;
}
#question-363 p:nth-child(2){
    font-size:280%;
}
#question-363 p:nth-child(3){
    font-size:220%;
}

#question-364 p:nth-child(1){
    font-size:280%;
}
#question-364 p:nth-child(2){
    font-size:160%;
    line-height:160%;
}
/*            Loading spinner shiz                  */
.loading{
    position: relative;
    z-index:20 !important;
    opacity:1 !important;
}
.loading_back{
    position: absolute;
    left:50%;
    top:50%;
    margin:-12px 0 0 -10px;
    width:20px;
    height:25px;
    opacity:0;
    -moz-transform: translateZ(0px);
    -webkit-transform: translateZ(0px);
    -o-transform: translateZ(0px);
    -ms-transform: translateZ(0px);
    transform: translateZ(0px);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.loading .loading_back{
    opacity:1;
}
.blockG{
    position:absolute;
    background-color:#F7E2D3;
    width:3px;
    height:8px;
    -moz-border-radius:3px;
    -moz-transform:scale(0.4);
    -moz-animation-name:fadeG;
    -moz-animation-duration:0.5599999999999999s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:3px;
    -webkit-transform:scale(0.4);
    -webkit-animation-name:fadeG;
    -webkit-animation-duration:0.5599999999999999s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:3px;
    -ms-transform:scale(0.4);
    -ms-animation-name:fadeG;
    -ms-animation-duration:0.5599999999999999s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:3px;
    -o-transform:scale(0.4);
    -o-animation-name:fadeG;
    -o-animation-duration:0.5599999999999999s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:3px;
    transform:scale(0.4);
    animation-name:fadeG;
    animation-duration:0.5599999999999999s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

.blockG:nth-child(1){
    left:0;
    top:9px;
    -moz-animation-delay:0.63s;
    -moz-transform:rotate(-90deg);
    -webkit-animation-delay:0.63s;
    -webkit-transform:rotate(-90deg);
    -ms-animation-delay:0.63s;
    -ms-transform:rotate(-90deg);
    -o-animation-delay:0.63s;
    -o-transform:rotate(-90deg);
    animation-delay:0.63s;
    transform:rotate(-90deg);
}

.blockG:nth-child(2){
    left:3px;
    top:3px;
    -moz-animation-delay:0.5599999999999999s;
    -moz-transform:rotate(-45deg);
    -webkit-animation-delay:0.5599999999999999s;
    -webkit-transform:rotate(-45deg);
    -ms-animation-delay:0.5599999999999999s;
    -ms-transform:rotate(-45deg);
    -o-animation-delay:0.5599999999999999s;
    -o-transform:rotate(-45deg);
    animation-delay:0.5599999999999999s;
    transform:rotate(-45deg);
}

.blockG:nth-child(3){
    left:8px;
    top:1px;
    -moz-animation-delay:0.48999999999999994s;
    -moz-transform:rotate(0deg);
    -webkit-animation-delay:0.48999999999999994s;
    -webkit-transform:rotate(0deg);
    -ms-animation-delay:0.48999999999999994s;
    -ms-transform:rotate(0deg);
    -o-animation-delay:0.48999999999999994s;
    -o-transform:rotate(0deg);
    animation-delay:0.48999999999999994s;
    transform:rotate(0deg);
}

.blockG:nth-child(4){
    right:3px;
    top:3px;
    -moz-animation-delay:0.41999999999999993s;
    -moz-transform:rotate(45deg);
    -webkit-animation-delay:0.41999999999999993s;
    -webkit-transform:rotate(45deg);
    -ms-animation-delay:0.41999999999999993s;
    -ms-transform:rotate(45deg);
    -o-animation-delay:0.41999999999999993s;
    -o-transform:rotate(45deg);
    animation-delay:0.41999999999999993s;
    transform:rotate(45deg);
}

.blockG:nth-child(5){
    right:0;
    top:9px;
    -moz-animation-delay:0.35s;
    -moz-transform:rotate(90deg);
    -webkit-animation-delay:0.35s;
    -webkit-transform:rotate(90deg);
    -ms-animation-delay:0.35s;
    -ms-transform:rotate(90deg);
    -o-animation-delay:0.35s;
    -o-transform:rotate(90deg);
    animation-delay:0.35s;
    transform:rotate(90deg);
}

.blockG:nth-child(6){
    right:3px;
    bottom:2px;
    -moz-animation-delay:0.27999999999999997s;
    -moz-transform:rotate(135deg);
    -webkit-animation-delay:0.27999999999999997s;
    -webkit-transform:rotate(135deg);
    -ms-animation-delay:0.27999999999999997s;
    -ms-transform:rotate(135deg);
    -o-animation-delay:0.27999999999999997s;
    -o-transform:rotate(135deg);
    animation-delay:0.27999999999999997s;
    transform:rotate(135deg);
}

.blockG:nth-child(7){
    bottom:0;
    left:8px;
    -moz-animation-delay:0.20999999999999996s;
    -moz-transform:rotate(180deg);
    -webkit-animation-delay:0.20999999999999996s;
    -webkit-transform:rotate(180deg);
    -ms-animation-delay:0.20999999999999996s;
    -ms-transform:rotate(180deg);
    -o-animation-delay:0.20999999999999996s;
    -o-transform:rotate(180deg);
    animation-delay:0.20999999999999996s;
    transform:rotate(180deg);
}

.blockG:nth-child(8){
    left:3px;
    bottom:2px;
    -moz-animation-delay:0.7s;
    -moz-transform:rotate(-135deg);
    -webkit-animation-delay:0.7s;
    -webkit-transform:rotate(-135deg);
    -ms-animation-delay:0.7s;
    -ms-transform:rotate(-135deg);
    -o-animation-delay:0.7s;
    -o-transform:rotate(-135deg);
    animation-delay:0.7s;
    transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
0%{
background-color:#291511}

100%{
background-color:#F7E2D3}

}

@-webkit-keyframes fadeG{
0%{
background-color:#291511}

100%{
background-color:#F7E2D3}

}

@-ms-keyframes fadeG{
0%{
background-color:#291511}

100%{
background-color:#F7E2D3}

}

@-o-keyframes fadeG{
0%{
background-color:#291511}

100%{
background-color:#F7E2D3}

}

@keyframes fadeG{
0%{
background-color:#291511}

100%{
background-color:#F7E2D3}

}

@-ms-keyframes spin {
    from { opacity:1; }
    to { opacity:0; }
}
@-moz-keyframes spin {
    from { opacity:1; }
    to { opacity:0; }
}
@-webkit-keyframes spin {
    from { opacity:1; }
    to { opacity:0; }
}
@keyframes spin {
    from { opacity:1; }
    to { opacity:0; }
}