article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
img {
  border: 0;
  height: auto;
}
img,
embed,
object,
video,
iframe {
  max-width: 100%;
}
iframe,
a{
  border:none;
  -webkit-appearance: none;
  outline: none;
}
img,
embed,
object,
video {
  height: auto;
}
html,
button,
input,
select,
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  font-family: sans-serif;
}
input[type=radio] {
  -webkit-appearance: radio;
}
select {
  -webkit-appearance: menulist;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
.placeholder {
  color: #666;
  opacity: 1;
  filter:alpha(opacity=100);
}
::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
  filter:alpha(opacity=100);
}
:-moz-placeholder {
  color: #666;
  opacity: 1;
  filter:alpha(opacity=100);
}
::-moz-placeholder {
  color: #666;
  opacity: 1;
  filter:alpha(opacity=100);
}
:-ms-input-placeholder {
  color: #666;
  opacity: 1;
  filter:alpha(opacity=100);
}
nav ol,
nav ul,
nav li,
menu ol,
menu ul,
menu li,{
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
form {
  margin: 0;
}
body {
  -webkit-backface-visibility: hidden;
  height: 100%;
  margin: 0;
}
::-webkit-input-placeholder {
  color: #CCCCCC;
}
:-moz-placeholder {
  color: #CCCCCC;
}
::-moz-placeholder {
  color: #CCCCCC;
}
:-ms-input-placeholder {
  color: #CCCCCC;
}
*{
  margin: 0; 
  padding: 0;
}
*,
*:before,
*:after{
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}